extends layout
block content
  style(type='text/css').
    .form-wrapper {
      display: flex;
      min-width: 300px;
      justify-content: flex-start;
    }

    form {
      display: flex;
      flex-flow: column;
    }
  .form-wrapper
    form
      label user
      input
      label password
      input
      button login