<a href='/'>
  <svg  viewBox="0 0 404 86" version="1.1" style='width: 300px;'>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Artboard" fill="black" fill-rule="nonzero">
              <g id="eaude_logo_Web">
                  <path d="M36.35,81.25 L47.14,81.25 C63.07,81.25 68.52,64.14 68.52,64.14 L70.52,65.21 L65.32,84.45 L0,84.45 L0,81.25 C0,81.25 15.82,82.25 15.82,74.83 L15.82,10.69 C15.82,3.21 0,4.28 0,4.28 L0,1.07 L62.11,1.07 L67.35,20.21 L65.35,21.38 C65.35,21.38 59.87,4.28 43.83,4.28 L33.14,4.28 C33.14,4.28 22.66,4.28 22.66,10.69 L22.66,40.62 L41.66,40.62 C52.35,40.62 52.35,25.62 52.35,25.62 L54.6,25.62 L54.6,60.83 L52.38,60.83 C52.38,60.83 52.38,43.83 41.69,43.83 L22.69,43.83 L22.69,74.83 C22.66,81.25 29.93,81.25 36.35,81.25 Z" id="Shape"></path>
                  <path d="M78,84.45 L78,81.25 C87.62,81.78 89.23,80.82 91.9,73.76 L118.67,3.21 L122.94,0 L150.74,75.9 C153.19,82.85 163.67,81.25 163.67,81.25 L163.67,84.45 L129.36,84.45 L129.36,81.25 C129.36,81.25 145.07,82.85 142.29,74.83 L135.13,54.52 L103.13,54.52 L96.22,73.76 C93.65,80.93 98.35,81.76 107.98,81.25 L107.98,84.45 L78,84.45 Z M134,51.31 L119.41,9.73 L104.34,51.31 L134,51.31 Z" id="Shape"></path>
                  <path d="M207.93,4.28 L207.93,1.07 L238.93,1.07 L238.93,4.28 C238.93,4.28 225.36,3.21 225.36,10.69 L225.36,59.87 C225.36,72.69 218.73,85.52 198.31,85.52 C179.07,85.52 171.37,74.83 171.37,58.8 L171.37,10.69 C171.37,3.21 155.55,4.28 155.55,4.28 L155.55,1.07 L194,1.07 L194,4.28 C194,4.28 178.29,3.21 178.29,10.69 L178.29,58.8 C178.29,72.69 183.29,81.25 199.35,81.25 C218.7,81.25 221.69,70.56 221.69,59.87 L221.69,10.69 C221.72,3.21 207.93,4.28 207.93,4.28 Z" id="Shape"></path>
                  <path d="M327.64,42.65 C327.64,67.35 311.64,84.45 287.02,84.45 L248.54,84.45 L248.54,81.25 C248.54,81.25 264.36,82.25 264.36,74.83 L264.36,10.69 C264.36,3.21 248.54,4.28 248.54,4.28 L248.54,1.07 L288.2,1.07 C312.68,1.07 327.64,18.17 327.64,42.65 Z M271.2,74.83 C271.2,81.25 279.54,81.25 285.95,81.25 C307.33,81.25 318.66,66.25 318.66,42.65 C318.66,20.21 309.47,4.28 283.81,4.28 L281.68,4.28 C281.68,4.28 271.2,4.28 271.2,10.69 L271.2,74.83 Z" id="Shape"></path>
                  <path d="M369.34,81.25 L380.14,81.25 C396.06,81.25 401.52,64.14 401.52,64.14 L403.52,65.21 L398.28,84.45 L333,84.45 L333,81.25 C333,81.25 348.82,82.25 348.82,74.83 L348.82,10.69 C348.82,3.21 333,4.28 333,4.28 L333,1.07 L395.1,1.07 L400.34,20.21 L398.34,21.38 C398.34,21.38 392.89,4.28 376.85,4.28 L366.13,4.28 C366.13,4.28 355.65,4.28 355.65,10.69 L355.65,40.62 L374.65,40.62 C385.34,40.62 385.34,25.62 385.34,25.62 L387.59,25.62 L387.59,60.83 L385.34,60.83 C385.34,60.83 385.34,43.83 374.65,43.83 L355.65,43.83 L355.65,74.83 C355.65,81.25 362.92,81.25 369.34,81.25 Z" id="Shape"></path>
              </g>
          </g>
      </g>
  </svg>
</a>