@import 'fonts';

:root {
  --black: #1A1A1A;
  --white: #ffffff;
}

html {
  background-color: var(--white);
}

html, body
{
  color: var(--black);
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  min-height: 100vh;
  height: auto;
  margin: 0;
}

a:visited, a {
  color: var(--black);
}

.eaude-logo {
  color: var(--white);
  width: 98%;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 289px;
}

.page-enter-active, .page-leave-active {
   transition: opacity 1s
}

.page-enter, .page-leave-active {
  opacity: 0
}

