@import 'fonts';

:root {
  --black: #1A1A1A;
  --white: #ffffff;
}

html {
  background-color: var(--white);
}

html, body
{
  color: var(--black);
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: auto;
  margin: 0;
}

a:visited, a {
  color: var(--black);
}

.eaude-logo {
  color: var(--white);
  width: 95%;
}

.logo-link {
  display: flex;
  height: 100vh;
  align-content: center;
  justify-content: center;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 289px;
}

.page-enter-active, .page-leave-active {
   transition: opacity 0.50s;
   transition-timing-function: linear;
}

.page-enter, .page-leave-active {
  opacity: 0
}

footer {
  display: flex;
  flex-flow: column;
  flex: 1;
}

footer picture {
  flex: 1 100%;
  margin-top: auto;
}

.address__wrapper {
  font-style: normal; 
  margin-bottom: auto;
  display: flex;
  flex-flow: row nowrap;
}

.address__labels {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 25px;
}

.address__labels a,
.address__block a {
  text-decoration:  none;
}

.address--mobile {
  display: flex;
  flex-flow: column;
}

footer .logo-wrapper {
  display: flex;
  justify-content: flex-end;
}

footer a img {
  margin-left: auto;
}

.address--desktop {
  display: none;
  font-style: normal;
}

@media(min-width: 720px) {

  footer {
    flex: 0;
    flex-flow: row nowrap;
  }

  footer .logo-wrapper img {
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .address--desktop {
    display: block;
    font-style: normal;
  }

  .address--mobile{
    display: none;
  } 

  .address__labels {
    margin-right: 20px;
  }

  .address__wrapper {
    flex: 1 0;
    margin-bottom: 0px;
    align-self: flex-end;
  }
}